
{% extends "layout.html" %}

{% block pageTitle %}
  Spiking GOV.UK PAAS with PostgresQL DB
{% endblock %}

{% block beforeContent %}
  {% include "includes/breadcrumb_examples.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">Spiking Amazon Cognito</h1>
      <p> Welcome {{ username }} </p>
      
      <h2 class="govuk-heading-m">This is the dashboard</h2>
       <form action="/sign-out" method="post" novalidate>
         <button class="govuk-button" data-module="govuk-button"> Sign Out </button>
       </form>
    </div>
  </div>

{% endblock %}
