
{% extends "layout.html" %}

{% block pageTitle %}
  Spiking GOV.UK PAAS with PostgresQL DB
{% endblock %}

{% block beforeContent %}
  {% include "includes/breadcrumb_examples.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">Spiking GOV.UK PAAS with PostgresQL DB</h1>
      <p> This is a spike for GOV.UK PAAS, Prototype Kit and PostgresQL Database </p>
      
       <h2 class="govuk-heading-m">Staff details in database: </h2>

      <ul class="govuk-list govuk-list--bullet">
        {% for user in users %}
        <li>staff id: {{ user.id }}, first name: {{ user.first_name }}, last name: {{ user.last_name }}, email: {{ user.email }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
       <form action="/" method="post" novalidate>
            <h2 class="govuk-heading-m">Add staff details</h2>
            <div class="govuk-form-group">
                <label class="govuk-label" for="first_name">
                    First name
                </label>
                <input class="govuk-input govuk-!-width-two-thirds" id="first_name" name="first_name" type="text" value="{{ first_name }}">
            </div>
             <div class="govuk-form-group">
                <label class="govuk-label" for="last_name">
                    Last name
                </label>
                <input class="govuk-input govuk-!-width-two-thirds" id="last_name" name="last_name" type="text" value="{{ last_name }}">
            </div>
             <div class="govuk-form-group">
                <label class="govuk-label" for="email">
                    Email
                </label>
                <input class="govuk-input govuk-!-width-two-thirds" id="email" name="email" type="text" value="{{ email }}">
            </div>
            <button class="govuk-button" data-module="govuk-button">
                Add
            </button>
        </form>
    </div>
  </div>

{% endblock %}
